In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import codecs
import gc
import json

DATA_DIR = 'data'

CHUNKSIZE = 2000000
MAX_ROW_NUM = 50000000
# MAX_ROW_NUM = 3000000

NYC_RANGE = (-74.3400, -73.6700, 40.4500, 40.9500)
NYC_RANGE_EXTENDED = (-74.4667, -73.0083, 40.4203, 41.3077)
NYC_RANGE_FILENAME = 'gnyc.png'
nyc_map = plt.imread(os.path.join(DATA_DIR, NYC_RANGE_FILENAME))

NYC_EXTENDED_FILENAME = 'gnyce.png'
nyc_map_extended = plt.imread(os.path.join(DATA_DIR, NYC_EXTENDED_FILENAME))

WASHED_DATA_DIR = 'washed'
WASHED_FILE_NAME = 'train_w.csv'

INPUT_FILE_PATH = os.path.join(WASHED_DATA_DIR, WASHED_FILE_NAME)

In [4]:
for trunk in pd.read_csv(INPUT_FILE_PATH, chunksize=CHUNKSIZE):
    trunk.describe()
    break

In [22]:
df = pd.read_csv(INPUT_FILE_PATH, nrows=5)
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>fare_amount</th>
      <th>pickup_longitude</th>
      <th>pickup_latitude</th>
      <th>dropoff_longitude</th>
      <th>dropoff_latitude</th>
      <th>passenger_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.000000</td>
      <td>8.020000</td>
      <td>-73.959664</td>
      <td>40.739009</td>
      <td>-73.952068</td>
      <td>40.757340</td>
      <td>1.200000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.581139</td>
      <td>5.102156</td>
      <td>0.066789</td>
      <td>0.024756</td>
      <td>0.063357</td>
      <td>0.029084</td>
      <td>0.447214</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>4.500000</td>
      <td>-74.016048</td>
      <td>40.711303</td>
      <td>-73.991567</td>
      <td>40.712278</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.000000</td>
      <td>5.300000</td>
      <td>-73.987130</td>
      <td>40.721319</td>
      <td>-73.991242</td>
      <td>40.750562</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2.000000</td>
      <td>5.700000</td>
      <td>-73.982738</td>
      <td>40.733143</td>
      <td>-73.979268</td>
      <td>40.758092</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.000000</td>
      <td>7.700000</td>
      <td>-73.968095</td>
      <td>40.761270</td>
      <td>-73.956655</td>
      <td>40.782004</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>4.000000</td>
      <td>16.900000</td>
      <td>-73.844311</td>
      <td>40.768008</td>
      <td>-73.841610</td>
      <td>40.783762</td>
      <td>2.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
df = pd.read_csv('data\\train.csv', nrows=10000)

In [13]:
df.columns.values

array(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'], dtype=object)